

 
<style>
body  {
  background-image: url('../images/Screenshot (323).png');
}
</style>
<div class="text-center">
    <h1 class="display-4">Details Updated Succesfully </h1>
     <img src="~/images/Screenshot (245).png" width="120" height="120"></div>
 
        
       
    